In [13]:
import numpy as np
import matplotlib as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler

Reading the csv file to a variable

In [14]:
data=pd.read_csv('IRIS.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

The species is an important column so we cannot just drop it and hence we need to convert it to numeric values

In [15]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

In [16]:
data=handle_non_numerical_data(data)
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        2
1           4.9          3.0           1.4          0.2        2
2           4.7          3.2           1.3          0.2        2
3           4.6          3.1           1.5          0.2        2
4           5.0          3.6           1.4          0.2        2

All the non numeric values have been converted to numeric values

We need all the features already given and hence are not dropping any of them

Viewing the count plot of the features 'species' and then using seaborn for visualisation

In [25]:
data['species'].value_counts()

species
2    50
1    50
0    50
Name: count, dtype: int64

In [ ]:
# x_train,x_test,y_train,y_test=tts(x,y,test_size=0.2)
# x_train.head()